.header {

	&__container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 40rem;
}

	&__logo {
		color: var(--c-text-main);
		font-size: 24rem;
		font-weight: 600;
	}

	&__ul {
		z-index: 99;
		display: flex;
		align-items: center;
		gap: 20px;

		@include tablet {
			position: fixed;
			width: 70%;
			height: 100%;
			flex-direction: column;
			left: 0;
			top: 0;
			background: var(--c-primary);
			align-items: center;
			justify-content: center;
			transform: translateX(-120%);
			transition: var(--transition);
		}

		&._active {
			transform: translateX(0);
		}

		.icon-close {
			position: absolute;
			top: 40px;
			right: 40px;
			color: var(--c-white);
		}
	}

	&__a {
		color: var(--c-text-black);
		font-size: 16rem;
		font-weight: 400;
		position: relative;
		transition: var(--transition);

		&:hover {
			color: var(--c-primary);

			&::before {
				width: calc(100% - 12px);
			}
		}

		&::before {
			content: '';
			transition: var(--transition);
			display: block;
			position: absolute;
			width: 0%;
			left: 50%;
			transform: translateX(-50%);
			background: var(--c-primary);
			height: 1px;
			bottom: -3px;
			border-radius: 20rem;
		}

		&.active {
			color: var(--c-primary);
			font-weight: 600;
			&::before {
				width: calc(100% - 12px);
			}
		}
		@include tablet {
			color: var(--c-white);
		}
	}
}

.icon-menu,
.icon-close {
	cursor: pointer;
	display: none;

	@include tablet {
		display: inline-block;
	}
}
